:root {
  --bg-color: #191d0a;
  --orange: #f97247;
  --lemon: #ebf29d;
  --white: #ffffff;
  --deep-purple: #311212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  display: flex;
  max-width: 1640px;
  width: 100%;
  min-height: 96px;
  margin: 16px auto 0;
  border: 4px solid var(--orange);
  background-color: var(--bg-color);
  border-radius: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  align-items: center;
  padding: 0 48px;
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  column-gap: 32px;
  list-style: none;
  width: fit-content;
  padding-left: 5px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.header__profile-controls {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  margin-left: auto;
  margin-right: -4px;
}

.nav-btn {
  height: 48px;
  padding: 0 12px;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid var(--lemon);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.lang-btn {
  & img {
    display: inline;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -3px;
  }
}

.nav-btn_orange {
  background-color: var(--orange);
  border-color: var(--orange);
}

@keyframes shifting {
  30% {
    margin-left: -21px;
  }

  70% {
    margin-left: -21px;
  }

  100% {
    margin-left: 6px;
  }
}

.lang-btn_small {
  display: none;
  width: 36px;
  height: 36px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  flex-direction: row;
  overflow: hidden;
  border: 2px solid var(--lemon);
  border-radius: 50%;
  margin: 0 12px 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  & span {
    display: block;
    margin: auto 0;
    text-transform: uppercase;
  }
}

.lang-img {
  display: inline-block;
  margin: auto 6px;
}

.animated {
  animation: shifting 2s linear;
  -webkit-animation: shifting 2s linear;
}

.burger {
  width: 20px;
  height: 28px;
  position: relative;
  margin: auto 0;
  display: none;
  margin: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.burger__line-center {
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--white);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: auto;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.burger::before,
.burger::after {
  position: absolute;
  width: 20px;
  height: 3px;
  content: '';
  background-color: var(--white);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.burger::after {
  bottom: 6px;
}

.burger::before {
  top: 7px;
}

.burger_active {
  & .burger__line-center {
    width: 0px;
  }

  &::before {
    top: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  &::after {
    bottom: 13px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
}

.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  min-height: fit-content;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: 5;
  top: -100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.burger-menu_opened {
  top: 0;
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style: none;
  margin-top: 96px;

  & li {
    width: 300px;
    height: 50px;
    border: 2px solid var(--orange);
    border-radius: 28px;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--white);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
  }
}

.burger-menu__nav-btn {
  display: flex;
  width: 300px;
  height: 46px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.burger-menu__nav-btn:last-child {
  margin-top: 5px;
}

.main {
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
}

.banner {
  display: flex;
  flex-direction: row;
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px 225px;
  justify-content: space-between;
}

.banner__title {
  user-select: none;
}

.title {
  width: fit-content;
  font-size: clamp(46px, 7vw, 96px);
  font-weight: 500;
  color: var(--white);
  margin-top: 296px;
  line-height: 100%;
  padding-left: 13.5px;
  position: relative;
  z-index: 3;
}

.title_upper-case {
  text-transform: uppercase;
}

.title_orange {
  color: var(--orange);
}

.title__tagline {
  width: fit-content;
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  opacity: 0.6;
  margin: 20px 0 0 13.5px;
}

.banner__title-button {
  width: 265px;
  height: 72px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 48px;
  outline: none;
  background-color: var(--orange);
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  margin: 44px 0 0 13px;
  cursor: pointer;
}

.banner__current-logos {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  width: fit-content;
  flex-direction: row;
  overflow: hidden;
  column-gap: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -o-transform: translateX(-30%);
  user-select: none;
}

@keyframes ticker {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

.banner__line {
  display: flex;
  height: 200%;
  flex-direction: column;
}

.line-item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  max-width: 100px;
  padding-bottom: 30px;
  animation: ticker 5s linear infinite;
  -webkit-animation: ticker 5s linear infinite;
}

.banner__line_left {
  opacity: 0.2;
}

.banner__line_center {
  opacity: 0.6;

  & .line-item {
    animation: ticker 6s linear infinite reverse;
    -webkit-animation: ticker 6s linear infinite reverse;
  }
}

.banner__line_right {
  opacity: 0.4;
  & .line-item {
    animation: ticker 6s linear infinite reverse;
    -webkit-animation: ticker 5s linear infinite;
  }
}

.banner__blub {
  margin-top: 135px;
  position: relative;
  z-index: 3;
}

.banner__blub-title {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  padding-left: 2px;
  user-select: none;
}

.banner__messages {
  display: flex;
  flex-direction: column;
  max-width: 531px;
  width: 100%;
  height: 595px;
  border: 2px solid var(--orange);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(2px);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  overflow: scroll;
  scrollbar-width: 8px;
  padding: 21px 40px 21px 23px;
  line-height: 140%;
  row-gap: 16px;
  margin-top: 20px;
}

.banner__messages::-webkit-scrollbar {
  display: none;
}

.message {
  max-width: 467px;
  width: 100%;
  min-height: 146px;
  font-size: clamp(16px, 1.5vw, 24px);
  color: var(--white);
  text-decoration: none;
  border-radius: 196px;
  background-color: var(--deep-purple);
  padding: 16px 64px;
  -webkit-border-radius: 196px;
  -moz-border-radius: 196px;
  -ms-border-radius: 196px;
  -o-border-radius: 196px;
}

.message:first-child {
  background-color: var(--orange);
}

.message__date {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.scrollbar {
  display: block;
  position: absolute;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  top: 164px;
  right: 15px;
  width: 8px;
  height: 403px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.scrollbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 20%;
  cursor: pointer;
  background-color: var(--orange);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.dot-left,
.dot-right {
  position: absolute;
  z-index: 1;
}

.dot-left {
  user-select: none;
  width: 1302px;
  height: 226px;
  background: linear-gradient(to right, #f947bc 40%, #f9477c66);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.3;
  top: 500px;
  left: -306px;
  filter: blur(120px);
  -webkit-filter: blur(120px);
  transform: rotate(34.31deg);
  -webkit-transform: rotate(34.31deg);
  -moz-transform: rotate(34.31deg);
  -ms-transform: rotate(34.31deg);
  -o-transform: rotate(34.31deg);
}

.dot-right {
  width: 574px;
  height: 574px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(to right, #f29da2 5%, #f99247);
  opacity: 0.7;
  filter: blur(300px);
  top: 582px;
  right: -160px;
  -webkit-filter: blur(300px);
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  min-height: 130px;
  border: 4px solid var(--orange);
  border-bottom: none;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  background-color: var(--deep-purple);
  padding: 0 136px;
  margin: 0 auto;
}

.nav-pages {
  margin-top: 86px;
}

.desctop-hidden {
  display: none;
}

.footer__nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: var(--white);
  font-size: 16px;
}

.nav-pages__nav-list {
  column-gap: 40px;
}

.nav-socials {
  margin-top: 40px;
}

.nav-socials__nav-list {
  column-gap: 8px;
  margin-top: 14px;
}

.nav-socials__title {
  display: block;
  margin-right: 0;
  margin-left: auto;
  color: var(--white);
  width: fit-content;
  font-size: 16px;
}

.nav-socials__nav-link {
  position: relative;
}

.nav-socials__nav-link::before {
  position: absolute;
  content: '';
  top: -16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: linear-gradient(
    to left,
    rgba(249, 145, 71, 0.3),
    rgba(242, 157, 162, 0.3)
  );
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media (hover: hover) {
  .nav-pages__nav-link:hover {
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
  }

  .nav-socials__nav-link:hover:before {
    opacity: 1;
  }
}

@media (width <= 1700px) {
  .header {
    width: calc(100% - 16px);
    margin: 8px 8px 0px;
  }

  .banner__current-logos {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

@media (width <= 1560px) {
  .line-item {
    height: fit-content;
  }

  .line-item img {
    width: 60px;
  }

  .banner__title {
    margin-top: 60px;
  }

  .banner__title-button {
    margin-left: 13.5px;
  }

  .banner__messages {
    width: 43vw;
    height: 480px;
    margin-right: 13.5px;
  }

  .scrollbar {
    height: 300px;
    right: 28px;
  }

  .message {
    padding: 16px 48px;
  }

  .banner {
    align-items: center;
    padding-bottom: 56px;
  }

  .title {
    margin-top: 0;
  }

  .banner__blub {
    margin-top: 60px;
  }

  .banner__current-logos {
    top: 0;
  }

  .dot-left {
    top: 400px;
    left: -420px;
    transform: rotate(34.31deg) scale(0.6);
    -webkit-transform: rotate(34.31deg) scale(0.6);
    -moz-transform: rotate(34.31deg) scale(0.6);
    -ms-transform: rotate(34.31deg) scale(0.6);
    -o-transform: rotate(34.31deg) scale(0.6);
  }

  .dot-right {
    top: 390px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

@media (width < 1024px) {
  .header {
    padding: 24px;
  }

  .title__tagline {
    font-size: 24px;
  }
}

@media (width < 960px) {
  .message {
    padding: 16px 32px;
  }

  .message__date {
    margin-top: 0;
  }

  .banner__messages {
    padding-right: 32px;
  }

  .header {
    min-height: 56px;
    width: calc(100% - 20px);
    padding: 10px 20px;
    border-width: 2px;
    margin: 10px 10px 0;
  }

  .header__nav-list {
    display: none;
  }

  .header__profile-controls {
    display: none;
  }

  .burger,
  .lang-btn_small {
    display: flex;
  }

  .dot-right {
    top: 360px;
  }

  .footer {
    padding: 0 50px;
  }
}

@media (width <= 780px) {
  .banner {
    flex-direction: column;
    padding: 0 0 145px 0;
  }

  .banner__title {
    margin-top: 70px;
  }
  .title {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    line-height: 110%;
  }

  .title__tagline {
    font-size: 20px;
    text-align: center;
    margin: 12px auto 0;
  }

  .banner__title-button {
    width: 300px;
    height: 53px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0;
    margin-top: 24px;
  }

  .banner__current-logos {
    top: -145px;
    width: fit-content;
    column-gap: 8px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  .line-item {
    & img {
      width: 50px;
    }
  }

  .banner__messages {
    width: 300px;
    margin: 18px 0 0 0;
    height: 421px;
    padding: 8px 14px 8px 8px;
    row-gap: 10px;
    font-size: 16px;
    line-height: 125%;
    border-width: 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  .message {
    min-height: 112px;
    height: 100%;
    padding: 15px 35px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

  .message__date {
    font-style: 14px;
    font-weight: 400;
    line-height: 105%;
    margin-top: 6px;
    opacity: 0.6;
  }

  .scrollbar {
    right: 6px;
    top: 118px;
    height: 301px;
    width: 4px;
  }

  .scrollbar::-webkit-slider-thumb {
    width: 4px;
    height: 25.68%;
  }

  .banner__blub-title {
    font-size: 32px;
  }

  .banner__blub {
    margin-top: 230px;
  }

  .dot-left {
    top: 180px;
    left: -420px;
    transform: rotate(34.31deg) scale(0.5);
    -webkit-transform: rotate(34.31deg) scale(0.5);
    -moz-transform: rotate(34.31deg) scale(0.5);
    -ms-transform: rotate(34.31deg) scale(0.5);
    -o-transform: rotate(34.31deg) scale(0.5);
  }

  .dot-right {
    top: 800px;
    right: -250px;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  .footer {
    flex-direction: column;
    min-height: fit-content;
    padding: 19px 18px;
    border-width: 2px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .nav-pages {
    margin-top: 0;
  }

  .nav-pages__nav-list {
    row-gap: 4px;
  }

  .desctop-hidden {
    display: inline;
  }

  .footer__nav-list {
    flex-direction: column;
    font-size: 14px;
  }

  .nav-socials {
    margin-top: 22px;
  }

  .nav-socials__title {
    margin: 0;
    font-size: 14px;
  }

  .nav-socials__nav-list {
    flex-direction: row;
    margin-top: 8px;
    column-gap: 8px;
  }

  .nav-socials__nav-link {
    & img {
      width: 27px;
    }
  }

  .nav-socials__nav-link::before {
    width: 27px;
    height: 27px;
    top: -12px;
  }
}
